*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  // height: 100%;
}
body{
  background-color: #5778a1;
  font-family: $mainFont;
  // height: 100%;
}
.main_container{
  width: 768px;
  // width: 1200px;
  height: 100%;
  background-color: #182948;
  background-image: url("../img/bg.png") center top/cover;
  margin: 0 auto;
  @media screen and (max-width: 1200px){
    width: 100%;
  }

  @media screen and (max-width: 480px){
    width: 480px;
  }
  .grid-container{
    height: 100%;
    display: flex;
    justify-content: start;
    main{
      // width: 100%;
      margin-right: 10px;
    }
  }
}